.services-div, .contact-div, .about-div, .app-div {
    font-family: 'Bangers', cursive;
    color: darkslategray;
}
 .home-div {
    font-family: 'Bangers', cursive;
    color: darkslategray;
 }
.nav-div {
    font-family: 'Bangers', cursive;
    font-family: 'Bebas Neue', cursive;
    font-size: x-large;
    color: darkslategray;
}